*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100vw;
    height: 350vh;
    background-color: black;
}
.top {
    width: 100%;
    height: 90vh;
    background: url(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 7vh;
}
header {
    width: 100vw;
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
     padding-left: 7vw; 
    padding-bottom: 19vh;
    padding-right: 7vw;
}
header #btn{
    width: 5vw;
    height: 5vh;
    background-color: red;
    color: white;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
}
#btn:hover{
    background-color: black;
}
.logo img {
    width: 10vw;
    height: 50px;
    object-fit: contain;
}
.hero {
    width: 80vw;
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 30vw;
    padding-right: 10vw;
}
.hero h1 {
    font-size: 3em;
   word-spacing: 1px;
}
.hero h2 {
    font-size: 1.5rem;
    margin-bottom: 1vh;
}  
form {
    width: 80vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-left: 30vw;
    padding-right: 10vw;
} 
form input {
    width: 30vw;
    height: 7vh;
    padding-left: 1vw;
    border-radius: 5px;
    border: 2px solid #fff;
    font-size: 1.2rem;
    background: transparent;
    color: white;
}
form #btns {
    width: 10vw;
    height: 7vh;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-left: 1vw;
    position: absolute;
    right: 24%;
}
.features{
    margin-bottom: 20vh;
    width: 100vw;
    height: 70vh;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    margin: auto 5vw;
    margin-bottom: -3vh;
    cursor: grab;
    user-select: none;
}
.features h2{
     font-size: 2rem;
     margin: 7vh 3vw;
    color: #fff;  
}
.cards{
    width: 170vw;
    height: 20vh;
    display: grid;
    grid-template-columns: 1fr;
    object-fit: cover;
    gap: 2vw;
}
li{
    list-style: none;
    display: inline-block;
    margin-right: 2vw;
}
li img{
    border-radius: 25px;
}

.hook{
    width: 80vw;
    height: 40vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 10px;
    margin: auto 8vw;
    color: #fff;
}
#rh{
    padding-left: 4vw;
    padding-bottom: 2vh;
}
.reasons h1{
    font-size: 2rem;
   margin: auto 3vh;
     margin-bottom: 2vh;
    color: #fff;
}
.card{
    width: 20vw;
    height: 34vh;
    background: linear-gradient(to right, #040d43, #0b1d31, #1a033a);
    border-radius: 25px;
    text-align: center;
    padding-top: 2vh;
}
.card p{
   padding-top: 20px;
   text-wrap: wrap;
}
.ph{
    color: #fff;
    padding-left: 4vw;
    margin-bottom: 3vh;
}
.que{
    width: 80vw;
    height: 10vh;
    background-color: rgb(46, 45, 45);
    color: #fff;
    font-size: 1.5em;
    padding-left: 2vw;
    text-align: left;
    margin-left: 9vw;
    margin-bottom: 1vh;
}
.request{
    margin-top: 3vh;
}
.request p{
   color: #fff;
   padding-left: 35vw;
    padding-right: 10vw;
    font-weight: 300;
    font-size: 1.2em;
}
.request input{
   width: 50vw;
    
}
.request #btns{
   right: 19%;
}
footer{
    margin-left: 4vw;
    margin-top: 2vh;
}
footer p{
    color: #fff;
    text-decoration: underline;
    margin-bottom: 3vh;
}
.foot{
    width: 80vw;
    height: 20vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100vw;
}
.info{
    color: #fff;
    text-decoration: underline;
}
select{
    margin-top: 3vh;
    background-color: #1b1b1b;
    color: #fff;
    width: 6vw;
    height: 4vh;
    text-align: center;
    margin-bottom: 2vh;
    cursor: grab;
}
p a{
    color: #00ffff;
}
@media screen and (min-width:0px) and (max-width: 550px) {
.top {
    height: 60vh; 
}
.container {
    height: 230vh;
}  
header #btn{
    width: 17vw;
    height: 5vh;
    font-size: 1rem;
}  
.hero h1 {
    font-size: 25px;
   word-spacing: -1.5px;
}
.hero h2 {
    font-size: 0.8rem;
    margin-bottom: 1vh;
} 
.hero {
    width: 100vw;
    padding-left: 9vw;
}
form {
    width: 80vw;
    height: 10vh;
    padding-left: 12vw;
    padding-right: 10vw;
} 
form input {
    width: 40vw;
    height: 5vh;
}
form #btns {
    width: 20vw;
    height: 5vh;
    font-size: 0.7rem;
    margin-left: 1vw;
    right: 18%;
}
.features{
    height: 46vh;
}
.cards{
    width: 379vw;
    height: 10vh;
    gap: 1vw;
}
.features h2{
     font-size: 1.5rem;
     margin: 4vh 1vw;
    color: #fff;  
}
.image img{
    width: 31vw;
    height: 26vh;
    object-fit: cover;
}
.hook{
    gap: 9px;
    margin: auto 2vw;
    height: 20vh;
    margin-left: 5vw;
}
#rh{
    font-size: 1.2rem;
}
.reasons h1{
   margin: auto 1vh;
     margin-bottom: 1vh;
    font-size: 10px;
}
.card{
    width: 20vw;
    height: 17vh;
}
.card p{
    font-size: 5px;
   padding-top: 5px;
}
.que{
    width: 70vw;
    height: 5vh;
    font-size: 1em;
    margin-left: 12vw;
}
.ph{
    color: #fff;
    padding-left: 4vw;
    margin-bottom: 3vh;
    font-size: 1rem;
}
.request p{
   padding-left: 8vw;
    padding-right: 10vw;
    font-weight: 300;
    font-size: 0.6em;
}
.request input{
   height: 4vh;
   font-size: 0.8em;
}
.request #btns{
    height: 4vh;
   right: 12%;
}
footer p{
    font-size: 0.5rem;
}
.info{
   font-size: 0.6rem;
}
select{
    margin-top: 1vh;
    width: 20vw;
    height: 4vh;
}
}
@media screen and (min-width:550px) and (max-width: 800px) {
 .top {
    height: 75vh; 
} 
.container {
    height: 261vh;
}
header #btn{
    width: 15vw;
    height: 5vh;
    font-size: 1rem;
}   
.hero h1 {
    font-size: 40px;
   word-spacing: -1.5px;
}
.hero {
    width: 100vw;
    padding-left: 9vw;
}
.hero p{
    font-size: 0.8rem;
}
form {
    width: 80vw;
    height: 10vh;
    padding-left: 12vw;
    padding-right: 10vw;
} 
form input {
    width: 40vw;
    height: 5vh;
}
form #btns {
    width: 20vw;
    height: 5vh;
    font-size: 0.7rem;
    margin-left: 1vw;
    right: 18%;
}
.features{
    height: 46vh;
}
.cards{
    width: 279vw;
    height: 10vh;
    gap: 1vw;
}
.features h2{
     font-size: 1.5rem;
     margin: 4vh 1vw;
    color: #fff;  
}
.image img{
    width: 25vw;
    height: 30vh;
    object-fit: cover;
}
.hook{
    gap: 9px;
    margin: auto 2vw;
    height: 22vh;
    margin-left: 5vw;
}
#rh{
    padding-top: 2vh;
    font-size: 1.5rem;
}
.reasons h1{
   margin: auto 1vh;
     margin-bottom: 1vh;
    font-size: 10px;
}
.card{
    width: 22vw;
    height: 17vh;
}
.card p{
    font-size: 8px;
   padding-top: 5px;
}
.que{
    width: 70vw;
    height: 5vh;
    font-size: 1em;
    margin-left: 12vw;
}
.ph{
    color: #fff;
    padding-left: 4vw;
    margin-bottom: 3vh;
    font-size: 1.5rem;
}
.request p{
   padding-left: 15vw;
    padding-right: 10vw;
    font-weight: 300;
    font-size: 0.8em;
}
.request input{
   height: 5vh;
   font-size: 0.9em;
}
.request form{
    padding-left: 4vw;
}
.request #btns{
    height: 5vh;
   right: 17%;
}
footer p{
    font-size: 0.8rem;
}
.info{
   font-size: 0.8rem;
}
select{
    margin-top: 1vh;
    width: 15vw;
    height: 4vh;
}
}

@media screen and (min-width: 800px) and (max-width: 1100px) {
    .top {
    height: 75vh; 
}
.container {
    height: 291vh;
}
header{
    margin-top: 3vh;
    margin-bottom: 10vh;
}
header #btn{
    width: 17vw;
    height: 5vh;
    font-size: 1.8rem;
} 
.logo img {
    width: 30vw;
    height: 7vh;
    object-fit: contain;
}
.hero h1 {
    font-size: 80px;
   word-spacing: -1.5px;
}
.hero {
    width: 100vw;
    padding-left: 9vw;
}
.hero p{
    font-size: 1.6rem;
}
.hero h2 {
    font-size: 1.9rem;
    margin-bottom: 1vh;
} 
form {
    width: 80vw;
    height: 10vh;
    padding-left: 12vw;
    padding-right: 10vw;
} 
form input {
    width: 40vw;
    height: 5vh;
    font-size: 1.8rem;
}
form #btns {
    width: 20vw;
    height: 5vh;
    font-size: 1.8rem;
    margin-left: 1vw;
    right: 17%;
}
.features{
    height: 56vh;
}
.cards{
    width: 388vw;
    height: 10vh;
    gap: 1vw;
}
.features h2{
     font-size: 3rem;
     margin: 4vh 1vw;
}
.image img{
    width: 35vw;
    height: 35vh;
    object-fit: cover;
}
.hook{
    gap: 9px;
    margin: auto 2vw;
    height: 22vh;
    margin-left: 1.5vw;
}
#rh{
    padding-top: 2vh;
    font-size: 2.5rem;
}
.reasons h1{
   margin: auto 1vh;
     margin-bottom: 1vh;
    font-size: 25px;
}
.card{
    width: 23vw;
    height: 20vh;
}
.card p{
    font-size: 15px;
   padding-top: 5px;
}
.que{
    width: 80vw;
    height: 7vh;
    font-size: 1.9em;
    margin-left: 8vw;
}
.ph{
    padding-left: 4vw;
    margin-bottom: 3vh;
    font-size: 2.5rem;
    margin-top: 3vh;
}
.request p{
   padding-left: 9vw;
    padding-right: 10vw;
    font-weight: 500;
    font-size: 1.6em;
}
.request input{
   height: 5vh;
   font-size: 0.9em;
}
.request form{
    padding-left: 4vw;
}
.request #btns{
    height: 5vh;
   right: 15%;
}
footer p{
    font-size: 1.5rem;
}
.info{
   font-size: 1.4rem;
}
select{
    margin-top: 0.1vh;
    width: 17vw;
    height: 4vh;
    font-size: 1.2rem;
}
  
}
